<form #formPerson="ngForm">
    <br/>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <h3>Tratamento Espiritual - <label>{{person.name}}</label></h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Entrevistador</label>
            <select class="form-control" id="interviewSelect" (change)="setPersonInterview($event)" [ngClass]= "{ 'is-invalid' : !validateInterviewerDocument, 'is-valid': validateInterviewerDocument }">
              <option value=0>Selecione</option>  
              <option *ngFor="let item of interviewers" value="{{item.documentNumber}}">{{item.name}}</option>          
            </select>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Selecione o entrevistador.
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Tratamento</label>
            <select class="form-control" id="treatmentSelect" (change)="setTreatment($event)" [ngClass]= "{ 'is-invalid' : !validateTreatmentType, 'is-valid': validateTreatmentType }">
              <option value="">Selecione</option>  
              <option *ngFor="let item of treatmentTypes" [selected]="item.checked" value="{{item.name}}">{{item.description}}</option>
            </select>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Selecione o Tratamento.
            </div>
          </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label>Entrevista</label>
              <select class="form-control" id="interviewSelect" (change)="setInterview($event)" [ngClass]= "{ 'is-invalid' : !validateType, 'is-valid': validateType }">
                <option value="">Selecione</option>  
                <option *ngFor="let item of interviewTypes" [selected]="item.checked" value="{{item.name}}">{{item.description}}</option>
              </select>
              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Selecione o Tipo da entrevista.
              </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label>Dia da semana</label>
              <select class="form-control" id="waekDaySelect" (change)="setWeakDay($event)" [ngClass]= "{ 'is-invalid' : !validateWeakDayType, 'is-valid': validateWeakDayType }">
                <option value="">Selecione</option>  
                <option *ngFor="let item of weakDayTypes" [selected]="item.checked" value="{{item.name}}">{{item.description}}</option>
              </select>
              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Selecione o dia da semana.
              </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
              <label>Quantidade</label>
              <input type="number" class="form-control" id="amountInput" required #interviewAmount="ngModel" [(ngModel)]="interview.amount" name="interviewAmount" [ngModelOptions]="{standalone: true}" [ngClass]= "{ 'is-invalid' : !validateAmount, 'is-valid': validateAmount }">
              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Informe a quantidade de tratamentos.
              </div>
            </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Parecer</label>
                <textarea class="form-control" rows="3" #interviewOpinion="ngModel" [(ngModel)]="interview.opinion" name="interviewOpinion" [ngModelOptions]="{standalone: true}" [ngClass]= "{ 'is-invalid' : !validateOpinion, 'is-valid': validateOpinion }"></textarea>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                  Informe o parecer da entrevista.
                </div>
            </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-success me-md-2" type="button" (click)="insert()" [disabled]="!validate">Salvar</button>
              <button class="btn btn-primary" type="button" [routerLink]="['/person/list', person.documentNumber]">Voltar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="notificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Atenção</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearErros()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <span *ngFor="let error of errors">
                {{error}}
              </span>
            </div>
          </div>
       </div>
     </div>
    </div>
  </div>
</div>