::ng-deep {
  .person-list__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .person-list__toolbar__action {
    margin-left: auto;
  }

  .person-list__content {
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
  }

  td .p-tag {
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .actions {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }

  .p-datatable-filter .p-datatable-column-filter-button,
  .p-datatable-filter .p-button {
    display: none !important;
  }
}
