<div class="row g-2">
    <div class="col-md-1">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['person/list']">Cadastro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['laborer/list']">Tarefa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['interview/list']">Entrevistas</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>
