<br/>
<h1 class="h3 mb-4 text-gray-800">Escala de tarefa - <label>{{person.name}}</label></h1>
<div class="card shadow mb-4 border-left-primary">
  <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Dia da semana</label>
            <select class="form-control" id="waekDaySelect" (change)="setWeakDay($event)" [ngClass]= "{ 'is-invalid' : !validateWeakDayType, 'is-valid': validateWeakDayType }">
              <option value="">Selecione</option>  
              <option *ngFor="let item of weakDayTypes" [selected]="item.checked" value="{{item.name}}">{{item.description}}</option>
            </select>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Selecione o dia da semana.
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleFormControlInput1">Data</label>
            <input type="date" class="form-control" id="dateInput" (change)="setWorkShcheduleDate($event)" [ngClass]= "{ 'is-invalid' : !validateDate, 'is-valid': validateDate }">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Fará a Leitura?</label>
            <select class="form-control" id="waekDaySelect" (change)="setDoTheReading($event)">
              <option value="0">Selecione</option>  
              <option value="1">Sim</option>
              <option value="0">Não</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-success me-md" type="button" (click)="insertWorkSchedule()" [disabled]="!validateWorkSchedule">Adicionar</button>
            </div>
          </div>
        </div>    
      </div>
  </div>
</div>
<div class="card shadow mb-4 border-left-primary">
<div class="card-body">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-success me-md-2" type="button" (click)="insert()" [disabled]="!validate">Salvar</button>
          <button class="btn btn-primary" type="button" [routerLink]="['/workschedule/list', person.id]">Voltar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="notificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Atenção</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearErros()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <span *ngFor="let error of errors">
                {{error}}
              </span>
            </div>
          </div>
       </div>
     </div>
    </div>
  </div>
</div>