<br/>
<h1 class="h3 mb-4 text-gray-800">Entrevistas</h1>
<div class="card shadow mb-4 border-left-primary">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">Tipo de pessoa</label>      
          <select class="form-control" id="treatmentSelect" (change)="selectPersonType($event)">
            <option value="">Selecione</option>  
            <option *ngFor="let item of personList.lookups" value="{{item.name}}">{{item.description}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">Nome</label>      
          <input type="text" class="form-control" id="search" placeholder="Digite no mínimo 3 caracteres" (keyup)="selectName($event)">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlInput1">Documento</label>      
          <input type="number" class="form-control" id="search" placeholder="Digite o documento" (keyup)="selectDocumentNumner($event)">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary" title="Buscar Todos" (click)="getPeople()" [disabled]="!personList.validateSelectParameters">
              <span>Buscar</span>
            </button>
            <button type="button" class="btn btn-success" [routerLink]="['/person/insert']" title="Inserir Frequentador">
              <span>Novo </span>
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="card shadow mb-4 border-left-primary">
    <div class="card-body">
      <table class="table table-hover">
        <thead>
            <tr>
              <th>Nome</th>
              <th>Documento</th>
              <th>Tipo</th>
              <th class="text-center">Entrevista</th>
              <th class="text-center">Tratamento</th>
              <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of personList.people">
                <td>{{person.name}}</td>
                <td>{{person.documentNumber}}</td>
                <td>{{person.types}}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary btn-sm" title="Visualizar" [routerLink]="['/interview/view', person.documentNumber]" [disabled]="!person.enabledTratamentView">
                      Visualizar
                  </button>
                </td>
                <td class="text-center">
                  <div [hidden]="!person.tratamentInProcess">
                    <button type="button" class="btn btn-primary position-relative btn-sm" title="Presença Tratamento" (click)="presenceTratament($event, person)" [disabled]="person.tratamentPresenceConfirmed">
                      {{person.tratamentPresenceConfirmed ? "Confirmada" : "Não confirmada"}}
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill" [ngClass]= "{ 'bg-danger' : !person.tratamentPresenceConfirmed, 'bg-success': person.tratamentPresenceConfirmed }">
                        {{person.tratamentPresenceConfirmed ? "1" : "0"}}
                      </span>
                    </button> 
                  </div> 
                  <div style="font-size: small;" [hidden]="person.tratamentInProcess">
                      Nenhuma em andamento
                  </div>                  
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-outline-secondary btn-sm" title="Inserir entrevista" [routerLink]="['/interview', person.documentNumber]" [disabled]="person.tratamentInProcess">
                    Inserir
                </button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="notificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Atenção</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div >
          <div class="col">
            <div class="form-group">
              <span *ngFor="let error of personList.errors">
                {{error}}
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

